extends layout

block content
  div(class="home")
    h2 What is it that you seek?
  
    if err 
      p Error getting shop content.
  
    div(class="shop-categories") 
      each category in data.categories
        a(href=`/emporium/categories/${category._id}`) !{category.name}    