extends layout 

block content 
  h1= title
  p Are you sure you want to delete !{item.name} and all it's instances?

  form(method='POST' action='')
      div
        input#item_id(type='hidden',name='item_id', required='true', value=item._id )

      button#submit(type='submit') Confirm Delete 