doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
      div(class="page-title")
        img(src="/images/cauldron.png", alt="")
        h1 Enchanted Emporium
      div(class="nav-links")
        a(href="/emporium") Categories
        a(href="/emporium/items") All Items
        a(href="/emporium/item/create") New Item   
        a(href="/emporium/categories/create") New Category 
    section(id="content")
      block content
