body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbe2ef;
  color: #112d4e;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
}

a {
  text-decoration: none;
  color: #3f72af;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  gap: 24px;
}

nav .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

nav .page-title img {
  width: 80px;
  height: auto;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

#content {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 800px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  gap: 5rem;
}

.home .shop-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.home .shop-categories a {
  font-size: 1.5rem;
}

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px;
  gap: 18px;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  width: 50%;
  min-width: 500px;
}

.create .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create .form-label label {
  width: 20%;
}

.create .form-label input,
.create .form-label textarea,
.create .form-label select {
  width: 80%;
}

.create button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
}

.item-info {
  display: -ms-grid;
  display: grid;
  grid: 6rem 1fr 6rem / 1fr 1fr;
}

.item-info h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.item-info .item-image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  max-width: 400px;
  height: auto;
}

.item-info .item-details {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}

.item-info .stock-price,
.item-info .item-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.item-info .stock-price {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-info .item-links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
}

.item-info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.item-info form input {
  width: 10%;
}
/*# sourceMappingURL=main.css.map */